body {
  background-color:#69cde5;
}
.container {
background-color: #69cde5;
height: 20vh;
display: flex;
justify-content: center;
align-items: center;
}
.link {
height: 70px;
width: 70px;
background-color: #69cde5;
border-radius: 35px;
text-align: center;
margin: 7px;
line-height: 80px;
}
a i {
transition: all 0.3s linear;
}
 a:hover i {
transform: scale(1.5);
}
 
.youtube:hover {
color: red;
}
.facebook:hover {
color: blue;
 }
.instagram:hover {
color: #e11d74;
}
.twitter:hover {
color: #00adb5;
    }
.github:hover {
color: black;
}
.discord:hover {
color: #04009a;
}
