body {
  background-color: #69cde5;
}
a { 
    color: #f0fff0;
    text-decoration: inherit;
}
.img-container {
          text-align: center;
}
p {
  text-align: center;
}
.wrap {
  text-wrap: wrap;
}
img:hover {
    cursor: pointer;
}
