body {
  background-color: #6b54ff;
}
a { 
    color: #f0fff0;
    text-decoration: inherit;
}
.img-container {
          text-align: center;
}
p {
  text-align: center;
}
.wrap {
  text-wrap: wrap;
}
.weezer {
    cursor: pointer;
}
