body {
  background-color: #69cde5;
}
a { 
    color: #f0fff0;
    text-decoration: inherit;
}
.img-container {
          text-align: center;
}
p {
  text-align: center;
}
.wrap {
  text-wrap: wrap;
audio#buddyhollysound {
  position: absolute;
  top: -5px;
  left: -5px;
  z-index: 2;
  opacity: 0.01;
}
